/* Light Theme */
.light-theme {
  --background-color: #b7ecf5;
  --text-color: #333;
  --card-background: #eee9e9;
  --card-border: #ddd;

  /* Header/Footer */
  --header-footer-bg: #47d4ec;
  --header-footer-text: #333;
}

/* Dark Theme */
.dark-theme {
  --background-color: #1a1d2b;
  --text-color: #e0e0e0;
  --card-background: #1e1e1e;
  --card-border: #333;

  /* Header/Footer */
  --header-footer-bg: #10075c;
  --header-footer-text: #e0e0e0;
}
/* Terapkan ke elemen */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  text-align: center;
  font-size: 60px;
  color: var(--text-color);
  margin-bottom: 100px;
}


.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
}

.add-button:hover {
  background-color: #45a049;
}


.book-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; 
  justify-content: center;
}

.book-cardd {
  display: flex; 
  border: 5px solid #ddd;
  padding: 10px;
  width: 500px; 
  align-items: center; 
  border-radius: 8px;
  background-color: var(--card-background);
  transition: box-shadow 0.3s;
  gap: 10px; 
}

.book-image {
  width: 100px; 
  height: 150px;
  object-fit: cover; 
  flex-shrink: 0; 
}

.book-details {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  justify-content: space-between; 
  text-align: left; 
}
.lucide-icon{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.book-name,
.book-price {
  margin: 10px 0;
  font-size: 1em;
  color: #555;
}


.update-button,
.delete-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #d9534f;
}

.delete-button:hover {
  background-color: #c9302c;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; 
  visibility: visible; 
}

.form-container.hidden {
  visibility: hidden; 
  display: none; 
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 94%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.submit-button,
.cancel-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #d9534f;
}

.cancel-button:hover {
  background-color: #c9302c;
}
.pages{
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px ;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100% auto;
}

.header-logo {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  gap:10px;
}

.search-form {
  display: flex;
  gap: 0px;
  align-items: center;
}

.search-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.logout-btn {
  padding: 8px 12px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff4b4b;
}

/* Responsive Styles */

.container-page{
  height: 100vh ;
}
.footer {
  position:relative;
  bottom: 0;
  left: 0;
  width: 100% auto;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-text);
  text-align: center;
  padding: 20px;
}
.title-login{
  text-align: center;
  /* font-size: 2em; */
  color: #333;
  /* margin-bottom: 20px; */
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.book-card {
  border: 5px solid #ddd;
  border-radius: 20px;
  padding: 16px;
  width: 200px;
  text-align: center;
  background-color: var(--card-background);
}

.book-card img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.header-link a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.header-link a:hover {
  color: #0056b3;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
/* Search Container */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}

/* Icon Search */
.search-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background 0.3s;
}

.search-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
}

.search-form input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-form .submit-search {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form .submit-search:hover {
  background-color: #0056b3;
}
.search-sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
  width: 100%;
}

.search-sort input {
  padding: 0.5rem;
  width: 90%;
  max-width: 400px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.sort-select{
  padding: 0.5rem ;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.search-sort select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .header-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .header {
      padding: 0;
      border-bottom: none
  }

  .header  {
      width: 100%;
      flex-wrap: wrap;
      display: flex
  }
 
   .nav-links {
      flex: 1;
      display: flex;
      padding: 4px 8px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch
  }

 .search-container {
      justify-content: space-between
  }

   .nav-links {
      max-width: fit-content;
      position: relative
  }

   .nav-links:hover {
      background-color: var(--secondary-color)
  }

  .nav-links {
      align-content: center
  }

  .nav-links {
      display: flex
  }

  
  .header  {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: center
  }

  .header  {
      flex: 1
  }
 .search-container {
   width: 100%;
   flex-wrap: wrap;
   display: flex;
   align-items: center
   }
  .search-container {
      padding: 4px 24px
  }

}
@media (max-width: 768px) {
  .search-container {
      padding:4px 16px;
      height: auto
  }
  .header-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 360px) {
  .search-container,.Vm1Q- {
      padding:4px 16px;
      height: auto
  }
  .header-nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
   .nav-links {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-content: center
  }

}
